{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Encuestas</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-theme.css.map'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-theme.min.css'%}">
	<script type="text/javascript" src="{%static 'js/bootstrap.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
<div class="container">
	<h1>
		<a href="{%url 'index' %}">{{site_title}}</a>
		<small>{{site_subtitle}}</small>
	</h1>
	<br>
	<div class="row">
		<div class="col-md-9">
			{%block content%}{%endblock%}
		</div>
		<div class="col-md-3">
			<!--si hay preguntas votadas por el usuario, se mostraran en la vista, views.py hay una descripcion sobre sesion de usuario-->
			{% if last_questions%}
			<div class="well well-sm">
				<h4 style="margin:0px;">Preguntas Respondidas</h4>
				<ul>
					<!--iteramos las preguntas-->
					{%for q in last_questions%}
						<!--en cada pregunta, mostramos el texto de la pregunta-->
						<li>{{q.question_text}}</li>
					{%endfor%}
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
	<br>
	<div style="text-align: center;padding: 15px;">
		{{site_credits}}
	</div>
</div>
</body>
</html>